<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/styles.css?v=1">
  <title>PlayTracker</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>PlayTracker</h1>
  <img src="/stylesheet/images/baseball.png" alt="baseball image" width="400" height="400">
  <% if (user) { %>
    <h2>Welcome to the app, <%= user.username %>!</h2>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h2>Sign up or login to start tracking your rec baseball league</h2>
    <p>
      <form action="/auth/sign-up" method="GET" style="display: inline;">
        <button type="submit" class="button">Sign up</button>
      </form>

      <form action="/auth/sign-in" method="GET" style="display: inline;">
        <button type="submit" class="button">Sign in</button>
      </form>
    </p>
  <% } %>
</body>
</html>
